<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/header :: head}"/>
    <script>

		$(document).ready(function () {
			
			var config =
			{
			    order: [ [ 7, "asc" ] ],
			    columnDefs:
				[
				    {
				        targets: 3,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 4,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 5,
				        render: $.fn.dataTable.render.number(',')
				    },{
				        targets: 6,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 8,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 9,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 10,
				        render: $.fn.dataTable.render.number(',')
				    },
				    {
				        targets: 11,
				        render: $.fn.dataTable.render.number(',')
				    }
				]
			};

		    var resultLowerTable = $('#resultUpperTable').DataTable(config);
		    var resultUpperTable = $('#resultLowerTable').DataTable(config);
		});
		
		var rankingMax = 20;

		var stopText = "차트 분석 중 !!";
		var startText = "차트 분석 시작 !!";
		
		function startAnalyze(){
			let button = document.getElementById("startButton");
			
			if(button.innerText == stopText){
				processEnd();
			}else{
				runAnalyze();				
			}
		}
		
		var isRun = false;
		
		function runAnalyze(){

			processStart();
			
			$('#resultLowerTable').DataTable().clear().draw();
			$('#resultUpperTable').DataTable().clear().draw();
			
			let resultCount = document.getElementById("resultCount");
			rankingMax = resultCount.value;
			
			let marketType;
			let marketTypes = document.getElementsByName("marketType");
			for(let i=0; i<marketTypes.length; i++){
				if(marketTypes[i].checked){
					marketType = marketTypes[i].id;
					break;
				}
			}
			
			let EnvelopeDuration = document.getElementById("EnvelopeDuration").value;
			
			let EnvelopeRate = document.getElementById("EnvelopeRate").value;
			let ObvLongTerm = document.getElementById("ObvLongTerm").value;
			let ObvShortTerm = document.getElementById("ObvShortTerm").value;
			let minEndCost = document.getElementById("minEndCost").value;
			
			const xhr = new XMLHttpRequest();
			
			xhr.open('GET', '/chagvv/analyzeAllCompany?marketType=' + marketType 
				+ "&EnvelopeDuration="+EnvelopeDuration
				+ "&EnvelopeRate=" + EnvelopeRate
				+ "&ObvLongTerm=" + ObvLongTerm
				+ "&ObvShortTerm=" + ObvShortTerm
				+ "&minEndCost=" + minEndCost
				+ "&maxCount=" + rankingMax);
				
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.onload = function (e) {
				if (xhr.readyState === 4) {
					if (xhr.status === 200) {
						let result = JSON.parse(xhr.response);
						if(isRun){
							scanAllComplete(result.lowerResult, result.upperResult);
						}
					} 
					processEnd();
				}
			};
			
			xhr.onerror = function (e) {
				console.error(xhr.statusText);
				processEnd();
			};

			/* 정의된 서버에 요청을 전송 */
			xhr.send();
		}
		
		function processStart(){
			let button = document.getElementById("startButton");
			let lowerResult = document.getElementById("lowerResult");
			let upperResult = document.getElementById("upperResult");
			let processRow = document.getElementById("processRow");
			button.disabled=true;
			isRun = true;
			button.innerText = stopText;
			runState.innerText = '';
			lowerResult.style.display = 'none';
			upperResult.style.display = 'none';
			processRow.style.display = '';
		}
		
		function processEnd(){
			let button = document.getElementById("startButton");
			let lowerResult = document.getElementById("lowerResult");
			let upperResult = document.getElementById("upperResult");
			let processRow = document.getElementById("processRow");
			button.disabled=false;
			isRun = false;
			button.innerText = startText;
			runState.innerText = '';
			lowerResult.style.display = '';
			upperResult.style.display = '';
			processRow.style.display = 'none';
		}
		
		function scanAllComplete(lowerList, upperList){
			
			var lowerTable = $('#resultLowerTable').DataTable();
			var upperTable = $('#resultUpperTable').DataTable();
			
			insertList(lowerTable, lowerList);
			insertList(upperTable, upperList);
		}
			
		function insertList(table, list){
			
			for(let i=0; i< list.length; i++){
				
				let company = list[i].company;
				let cdata = list[i].stock;
				
				let cols = [];
				cols.push(company.issueCode);
				cols.push('<a target="_blank" href="https://finance.naver.com/item/fchart.nhn?code='+company.issueCode+'">'+company.issueName + '</a>');
				cols.push(company.marketType);
				cols.push(cdata.closePrice);
				cols.push(cdata.upperLine);
				cols.push(cdata.centerLine);
				cols.push(cdata.lowerLine);
				cols.push(list[i].score);
				cols.push(list[i].salesCost1);
				cols.push(list[i].salesCost2);
				cols.push(list[i].salesCost3);
				cols.push(list[i].salesCost4);
				table.row.add(cols);
			}

    		table.draw();
		}
	</script>
    <body class="sb-nav-fixed">
        <nav  th:replace="~{fragments/header :: title}"/>
            
        <div id="layoutSidenav">
            <div th:replace="~{fragments/header :: leftMenu}"/>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">차트분석</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">입력한 조건으로 차트를 분석 합니다.</li>
                        </ol>
                        <div class="row inputPanel">
                            <form class="needs-validation" novalidate>
					        <div class="row g-3 " >
					            <div class="col-sm-6" style="max-width: 200px;">
					              <label for="EnvelopeDuration" class="form-label">Envelope 기간(일)</label>
					              <input style="text-align: right;"  type="number" min="1" max="50" class="form-control" id="EnvelopeDuration" placeholder="" value="20" required>
					              <div class="invalid-feedback">
					                Valid Envelope 기간 is required.
					              </div>
					            </div>
					
					            <div class="col-sm-6" style="max-width: 200px;">
					              <label for="EnvelopeRate" class="form-label">Envelope 가감값(%)</label>
					              <input style="text-align: right;" type="number" min="1" max="100"  class="form-control" id="EnvelopeRate" placeholder="" value="20" required>
					              <div class="invalid-feedback">
					                Valid last Envelope 가감값 is required.
					              </div>
					            </div> 
					        </div>
					        <div class="row g-3 mt-2" >
					            <div class="col-sm-6" style="max-width: 200px;">
					              <label for="ObvShortTerm" class="form-label">OBV Signal Short Term</label>
					              <input style="text-align: right;"  type="number" min="1" max="50" class="form-control" id="ObvShortTerm" placeholder="" value="10" required>
					              <div class="invalid-feedback">
					                Valid Envelope OBV Signal Short Term is required.
					              </div>
					            </div>
					
					            <div class="col-sm-6" style="max-width: 200px;">
					              <label for="ObvLongTerm" class="form-label">OBV Signal Long Term</label>
					              <input style="text-align: right;" type="number" min="1" max="100"  class="form-control" id="ObvLongTerm" placeholder="" value="30" required>
					              <div class="invalid-feedback">
					                Valid last Envelope OBV Signal Long Term is required.
					              </div>
					            </div> 
					        </div>
							<div class="row g-3 mt-2" >
					            <div class="col-12">
									<div>
									<label for="EnvelopeDuration" class="form-label">시장 구분 </label>
									</div>
					              	  <div class="form-check" style="display:inline-block;;margin-right:20px">
						              <input id="KOSPI" name="marketType" type="radio" class="form-check-input" checked required>
						              <label class="form-check-label" for="KOSPI">코스피</label>
									  </div><div class="form-check" style="display:inline-block;;margin-right:20px">
						              <input id="KOSDAQ" name="marketType" type="radio" class="form-check-input" required>
						              <label class="form-check-label" for="KOSDAQ">코스닥</label>
						              </div><div class="form-check" style="display:inline-block;;margin-right:20px">
						              <input id="KONEX" name="marketType" type="radio" class="form-check-input" required>
						              <label class="form-check-label" for="KONEX">코넥스</label>
					            	  </div>
					            	  <div class="form-check " style="display:inline-block;margin-right:20px" > 
									  <input id="ALL" name="marketType" type="radio" class="form-check-input" required>
						              <label class="form-check-label" for="ALL">전체</label>
						              </div>
								</div>
								
								<div class="row g-3 " >
					
					            <div class="col-sm-6" style="max-width: 200px;">
									<div  style="display:inline-block;margin-right:20px">
					              	<label class="form-label">결과 수량</label>
					              	</div><div style="display:inline-block;margin-right:20px">
					              	<select id="resultCount" class="form-select">
										  <option value=10 >10</option>
										  <option value=20 selected>20</option>
										  <option value=50>50</option>
										  <option value=100>100</option>
										  <option value="">all</option>
									 </select>
									 </div>
					            </div> 
					            
					            <div class="col-sm-6" style="max-width: 300px;">
									<div style="display:inline-block;margin-right:20px">
					              	<label class="form-label">주가 최소치</label>
					              	</div>
					              	<div style="display:inline-block;margin-right:20px">
					              	<input style="text-align: right;max-width:100px" type="number" min="0"   class="form-control" id="minEndCost" placeholder="" value=2000 required>
					            	</div>
					            </div> 
					        </div>
							</div>
							<div class="row g-3 mt-2" >
					          	<button id="startButton" style="width:100%" class="btn btn-primary btn-lg" type="button" onclick="startAnalyze()">차트 분석 시작 !!</button>
					        </div>
					        </form>
                        </div>
                        <div class="row" style="display:none">
                        	<label id="runState" class="form-label"></label>
                        </div>
                        <div class="row w-100 " id="processRow" style="display:none;">
                        	<img src="/chagvv/images/process.gif" style="width:300px ;margin: auto;"/>
                        </div>
						<div class="row" id="lowerResult"  style="display:none;">
							<div class="card mb-4">
	                            <div class="card-header">
	                                <i class="fas fa-table me-1"></i>
	                                Envelope 하한선 접근
	                            </div>
								<div class="card-body">
									<table id="resultLowerTable"  class="display" style="width:100%">
	                                    <thead>
	                                        <tr>
	                                            <th>단축코드</th>
	                                            <th>종목명</th>
	                                            <th>시장구분</th>
	                                            <th>종가</th>
	                                            <th>상한선</th>
	                                            <th>중심선</th>
	                                            <th>하한선</th>
	                                            <th>접근값</th>
	                                            <th>매출액 2020</th>
	                                            <th>매출액 2021</th>
	                                            <th>매출액 2022</th>
	                                            <th>매출액 2023(E)</th>
	                                        </tr>
	                                    </thead>
	                                </table>
	                             </div>
	                          </div>
						</div>

						<div class="row" id="upperResult" style="display:none;">
							<div class="card mb-4">
	                            <div class="card-header">
	                                <i class="fas fa-table me-1"></i>
	                                Envelope 상한선 접근
	                            </div>
								<div class="card-body">
									
									<table id="resultUpperTable"  class="display" style="width:100%">
	                                    <thead>
	                                        <tr>
	                                            <th>단축코드</th>
	                                            <th>종목명</th>
	                                            <th>시장구분</th>
	                                            <th>종가</th>
	                                            <th>상한선</th>
	                                            <th>중심선</th>
	                                            <th>하한선</th>
	                                            <th>접근값</th>
	                                            <th>매출액 2020</th>
	                                            <th>매출액 2021</th>
	                                            <th>매출액 2022</th>
	                                            <th>매출액 2023(E)</th>
	                                        </tr>
	                                    </thead>
	                                </table>
	                              </div>
                             </div>
						</div>
                    </div>
                </main>
                <footer th:replace="~{fragments/footer :: footer}"/>
            </div>
        </div>
    </body>
</html>

<div style="display:none">
	<a id="IssueTemplate" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
		<input type="hidden" name="score" >
		<div class="d-flex gap-2 w-100 justify-content-between">
			<div>
				<h6 id="issueName" class="mb-0">종목 </h6>
				<p id="desc" class="mb-0 opacity-75">지표</p>
			</div>
			<small id="score" class="opacity-50 text-nowrap">순위</small>
		</div>
	</a>
</div>

