<!DOCTYPE html>
<html>
    <head th:replace="~{fragments/header :: head}"/>      
    <body class="sb-nav-fixed">
        <nav  th:replace="~{fragments/header :: title}"/>
            
        <div id="layoutSidenav">
            <div th:replace="~{fragments/header :: leftMenu}"/>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container px-4 py-5" id="featured-3">
				    <h2 class="pb-2 border-bottom">Project KUN MING</h2>
				    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
				      <div class="feature col">
				        <button onclick="document.location='/chagvv/stock/analyze'" type="button" class="btn feature-icon d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
			                <svg class="bi" width="1em" height="1em"><use xlink:href="#bi-graph-ul"/></svg>
				        </button>
				        <h3 class="fs-2">차트 분석</h3>
				        <p>박프로의 주식 차트 분석입니다. naver 의 시세 데이터를 이용하여 계산 됩니다.</p>
				      </div>
				      <div class="feature col">
				        <button onclick="document.location='/chagvv/stock/companyList'"  type="button" class="btn feature-icon d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
			                <svg class="bi" width="1em" height="1em"><use xlink:href="#bi-building-ul"/></svg>
				        </button>
				        <h3 class="fs-2">상장사 목록</h3>
				        <p>KRX 정보데이터시스템의 "기본통계 > 주식 > 전 종목 기본정보" 에서 제공하는 목록을 보여줍니다. 2023년 4월 18일 기준.  (http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201040201)</p>
				      </div>
				      
				      <div class="feature col">
				        <button onclick="document.location='/chagvv/vote/manageVote'"  type="button" class="btn feature-icon d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
			                <svg class="bi" width="1em" height="1em"><use xlink:href="#bi-check-ul"/></svg>
				        </button>
				        <h3 class="fs-2">투표 설정</h3>
				        <p>자동 투표 설정을 정의 합니다.</p>
				      </div>
				      
				      <div class="feature col">
				        <button onclick="document.location='/chagvv/vote/accountList'"  type="button" class="btn feature-icon d-inline-flex align-items-center justify-content-center text-bg-secondary bg-gradient fs-2 mb-3">
			                <svg class="bi" width="1em" height="1em"><use xlink:href="#bi-person-ul"/></svg>
				        </button>
				        <h3 class="fs-2">계정 목록</h3>
				        <p>https://vote.pinemuse.com 사이트 계정 정보 목록</p>
				      </div>
				      
				    </div>
				  </div>
                </main>
                <footer th:replace="~{fragments/footer :: footer}"/>
            </div>
        </div>
    </body>
</html>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="bi-graph-ul" viewBox="0 0 16 16">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
	  <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"/>
	</svg>
  </symbol>
  <symbol id="bi-building-ul" viewBox="0 0 16 16">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill" viewBox="0 0 16 16">
	  <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
	</svg>
  </symbol>
  <symbol id="bi-check-ul" viewBox="0 0 16 16">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
	  <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
	  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z"/>
	</svg>
  </symbol>
   <symbol id="bi-person-ul" viewBox="0 0 16 16">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
</svg>
  </symbol>
</svg>  
